
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@800&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter !important;
    font-size: 62,5%;
    margin: 0;
    padding: 0;
    outline: 0;
    
}

html {
  scroll-behavior:smooth;

  
  }

html, body {
  height: 100vh;

  
  }



body {
    
}


 nav.nav-bar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: black;
    
    
    
}

.logo {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    
    
}

.logo-esquina {

}

header {
  background-color: black;
  display: flex;
  flex-direction: column;
  
  
}

.header {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 980px;
  margin: auto;

    
}

.nav-bar img {
  display: flex;
  align-items:center ;
}

video {
  top:auto;
  left:0;
  width: 100%;
  object-fit: cover;
  opacity: 1;
  min-height: 929px;

}



a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

header nav ul {
  display: flex;
}

ul li a {
  position: relative;
  text-decoration: none;

}

ul li a::after {
  content: '';
  position: absolute;
  background-color: orange;
  height: 3px;
  width: 0;
  left:0;
  bottom: -10px;
  transition: 0.3s ease-in-out;
}

ul li a:hover::after {
  width: 100%;
}

.menu-list {
    list-style: none;
    display: flex;
    padding-bottom: 50px;


}

.menu-list li {
    letter-spacing: 0.3rem;
    margin-left: 64px;
    
}

.menu-list li :hover {
 
}

section.about-us {
  display:flex;
  flex-direction: column;
  
  background:no-repeat center/cover fixed  url('/img/andrea-donato-MNu0n-3BIKs-unsplash.jpg');
}


div.texto-sobre {
  display:flex;
  margin: 300px auto;

  max-width: 900px ;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  backdrop-filter: blur(15px);
  padding: 80px;
  
}

svg.icone-texto {
  width: 200px;
  height: 50px;
  margin-right: 10px;

}
div.texto-sobre p {
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: justify;
  
  
 
  
}

section.primeira-parte {
  
  display: flex; 
  flex-direction: column;
  background: no-repeat center/cover fixed url(/img/allef-vinicius-IvQeAVeJULw-unsplash.jpg);
  

}

h1.titulo-geral {
  text-transform: uppercase;
  text-align: center;
  padding: 50px;
  font-size: 4rem;
  background: transparent;
  backdrop-filter: brightness(0.25);
  color: #fff;
  letter-spacing: 0.3rem;
}

div.container {
  margin: 150px auto;
  width: 100%;
  max-width: 980px;
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 1;
  grid-gap: 40px;    
  grid-template-columns: repeat(auto-fit, minmax(0, 400px));
  
         
  
}


  div.container .card {
    width: 400px;
    height: 300px;
    padding: 33px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: transparent;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
    cursor: pointer;
  }

  div.container .card .content {
    text-align: center;
    transform: translateY(25px);
    transition: 0.5s;
  }

  div.container .card:hover .content {
    transform: translateY(0px);
    opacity: 1;
  }
  
  div.container .card .content h3 {
    text-transform: uppercase;
    font-size: 1.8rem;
    color: #fff;
    z-index: 1;
    margin-bottom: 30px;
  }

  div.container .card .content p {
    font-size: 1rem;
    color: #fff;
    font-weight: 300;
    max-width: 300px;
  }

  section.contato {
    display: flex;
    flex-direction: column;
    
    background:no-repeat center/cover fixed  url('/img/julien-orliac-gzobGDzh4ww-unsplash.jpg');
  }

  h2.sub-titulo {
    text-align: center;
    color: #fff;
    font-weight: 200;
    margin-bottom: 100px;
    margin-top: 100px;
  }

  

  div.box-form {
    width: 100%;
    max-width: 500px;
    margin: 200px auto;
  }

  form {
    color: #fff;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(15px);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 50px;

  }

  div.box-form label {
    transition: 0.5s ease-in-out;
    font-size: 1rem;
  }


  .form-title {
    margin-bottom: 80px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;
  }

  .input-user {
    background-color: transparent;
    padding: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(255, 255, 255) ;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #fff;
    transition:  .7s all;

  }
  
  .input-user:focus {
    border-bottom: 1px solid orange;
    transform: scale(1.050)
   


  }
  
  .input-user::placeholder {
    color: darkslategray;
  }
  

  textarea {
    height: 100%;
    max-height: 80px;
    width: 100%;
    resize:none;
  }

  

  div.pos-botao {
    display: flex;
    justify-content: center;
  }

  .botao {
    
    
    color: rgb(255, 255, 255);
    margin-top: 30px;
    margin-bottom: 15px;
    width: 150px;
    height: 50px;
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 6px;
    cursor: pointer;
    transition: 1.5s;
    
    

  }

  .botao:hover  {
    border-color: orange;
    color: orange;
    font-weight: lighter;
  


  }

  section.endereco {
    display: flex;
    flex-direction: column;
    
    background: no-repeat center/cover fixed url('/img/vintage-salon-tools-jobs-career-concept.jpg');
    
    
  }

  div.container-endereco {

    
    margin: 150px auto;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    
    z-index: 1;
    grid-gap:40px;                     
    grid-template-columns: repeat(3, minmax(0, 400px));
    
    
  }

  div.container-endereco .card-endereco {
    width: 300px;
    height: 400px;
    padding: 5px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: transparent;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: baseline;
    backdrop-filter: blur(25px);
    cursor: pointer;
    grid-area: "card-endereco";
  }
  div.container-endereco .card-endereco .content-endereco {

    text-align: center;
    transform: translateY(25px);
    transition: 0.5s;
    margin-top: 35px;
  }
  div.container-endereco .card-endereco:hover .content-endereco {
    transform: translateY(0px);
    opacity: 1;
  }
  
  div.container-endereco .card-endereco .content-endereco h3 {

    text-transform: uppercase;
    font-size: 1.6rem;
    color: #fff;
    z-index: 1;
    margin-bottom: 30px;
  }
  div.container-endereco .card-endereco .content-endereco p {
    font-size: 1rem;
    color: #fff;
    font-weight: 300;
    max-width: 300px;
    line-height: 25px;
  }

  
  button.botao-maps {
    color: rgb(255, 255, 255);
    margin-top: 30px;
    margin-bottom: 15px;
    width: 130px;
    height: 40px;
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }

  button.botao-maps:hover {
    border-color: orange;
    color: orange;
    
    
  }

  button.botao-maps a:hover{
    transition: 0.5s ease-in-out;
    color: orange;
  }

  



  

  
  

  

  footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer h4 {
    font-size: 1.2rem;
    color: white;
    padding-bottom: 40px;
    
  }

  

  .social-links {
    padding-bottom: 118px;
    height: 20px;
    margin-left: 10px;
  }

  .social-links a  {
    display: inline-block;
    
    width: 40px;
    height: 40px;
    background-color: gray;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
  }

  .social-links a:hover {
    color: #24262b;
    background-color: #fff;
  }




  /* media queries */
  @media (max-width: 768px) {

    html {
      font-size: 75%;
      
    }
    
    h1.titulo-geral {
      font-size: 3rem;
    }


    .header .nav-bar ul {
      display: none;

    } 


    section.about-us {


    }


    
    div.texto-sobre {
      margin: 100px auto;
      width: 300px;
      height: 300px;
      padding: 40px;

      
    }

    svg.icone-texto {
      position: absolute;
      left: 18px;
      width: 20px;
      height: 20px;
      color: white;
    }

    div.texto-sobre p {

      
      text-align: center;
      font-size: 1rem;
      display: flex;
      align-items: center;

    }

    
    div.container {
      margin: 100px auto;
      grid-gap: 3em;
      padding: 3em;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    }


    div.container .card {
      width: 300px;
      padding: 54px;
      margin: 0 auto;
    }

    div.box-form {
      display: flex;
      justify-content: center;
      margin: 100px auto;
    }

    form {
      width: 300px;
    }

    .form-title {
      font-size: 20px;
    }

    div.box-form label {
      text-align: center;
      font-size: 16px;
    }

    div.box-form .input-user {
      margin-bottom: 30px;
    }

    section.endereco {


    }

    div.container-endereco {
      margin: 100px auto;
      grid-gap: 3em;
      padding: 3em;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    }

    div.container-endereco .card-endereco {
      width: 300px;
      padding: none;
      margin: 0 auto;
    }



    

    
    
    

  

    

    

}


  

  


  
  
 
  



















